/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
.views-field-field-product-image {
  padding: 0 10px;
  margin-bottom: 20px; }

/* line 14, ../sass/screen.scss */
.block-views-blockour-work-block-1 ul {
  list-style-type: none; }

/* line 20, ../sass/screen.scss */
.block-views-blockour-work-portfolio-block-1 ul {
  list-style-type: none; }

/* line 26, ../sass/screen.scss */
.block-views-blockportfolio-grid-block-1 ul {
  list-style-type: none; }

/* line 32, ../sass/screen.scss */
.block-views-blockour-services-block-1 {
  padding-top: 30px; }
