/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

.views-field-field-product-image {
  padding: 0 10px;
  margin-bottom: 20px;
}

.block-views-blockour-work-block-1 {
  ul {
  list-style-type: none;
  }
}

.block-views-blockour-work-portfolio-block-1 {
  ul {
  list-style-type: none;
  }
}

.block-views-blockportfolio-grid-block-1 {
  ul {
  list-style-type: none;
  }
}


.block-views-blockour-services-block-1 {
  padding-top: 30px;
}

.view-id-our_work {
  position: relative;
}

.navbar-default{
  background-color: white;
  border-color: white;
  .sf-depth-1{
    background-color: white;
  } 
}

.navbar-collapse, .navbar-default{

  padding-right: 0;
  padding-left: 0;

}