/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

.views-field-field-product-image {
  padding: 0 10px;
  margin-bottom: 20px;
}

.block-views-blockour-work-block-1 {
  ul {
  list-style-type: none;
  }
}

.block-views-blockour-services-block-1 {
  padding-top: 30px;
}
